{% extends 'base.html' %}

{% block title %}
    Olbutyo - Home
{% endblock %}

{% block content%}
    <h2>OUR VISION</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae, facilis? Voluptatum expedita non quidem repellendus fuga, a mollitia ipsa! Libero iusto soluta sapiente molestiae itaque eius quod illum adipisci qui!</p>
    <h2>WELCOME TO OLBUTYO GIRLS SECONDARY</h2>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae nisi quasi odit et quas earum excepturi numquam laudantium molestias sint ullam velit ratione commodi error, dolores facilis nulla. Laudantium, corrupti?</P>
    
{% endblock %}