<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Secondary School{% endblock %}</title>
    <!-- Bootstrap CSS -->
    {% load static %}
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body> 
    
    <div class="text-center">        
        <main>            
           <!-- <div class="row alert alert-success"> -->
            <div class="row bg-info">  
                <h1 class="text-white text-center pb-2">SECONDARY SCHOOL</h1>
                <div  class="col  pl-1 pb-4">
                    <a type="button" class="text-white btn btn-primary" href="/">Home</a>
                </div>
                <div  class="col  pl-1 pb-4">
                    <a type="button" class="text-white btn btn-primary" href="/about">About Us</a>
                </div>
                <div  class="col  pl-1 pb-4">
                    <a type="button" class="text-white btn btn-primary btn-block" href="/school_admin">School Admin</a>
                </div>
                <div  class="col  pl-1 pb-4">
                    <a type="button" class="text-white btn btn-primary btn-block" href="/student_portal">Student Portal</a>
                </div>
                <div  class="col  pl-1 pb-4">
                    <a type="button" class="text-white btn btn-primary" href="/e_learning">E-Learning</a>
                </div>
                <div  class="col  pl-1 pb-4">
                    <a type="button" class="text-white btn btn-primary" href="/tenders">Tenders</a>
                </div>
                <div  class="col  pl-1 pb-4">
                    <a type="button" class="text-white btn btn-primary" href="/downloads">Downloads</a>
                </div>
                <div  class="col  pl-1 pb-4">
                    <a type="button" class="text-white btn btn-primary" href="/contacts">Contact Us</a>
                </div>
            </div> 

          <div class="container mt-3">
            {% block content %}
            {% endblock %}
          </div>
        </main>
    </div>    

    <!-- Footer -->
    <footer class="bg-dark text-white mt-3 py-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p>Secondary School</p>
                    <p>4132-30100</p>
                    <p>Eldoret, Kenya</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>    
